@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Heebo', sans-serif !important;
  text-align: justify !important;
  background-color: black;
}

.show {
  transform: translateX(0);
  transition: all 250ms ease-in;
}

.hide {
  transform: translateX(500px);
  /* opacity: 0; */
  /* display: none; */
  transition: all 250ms ease-in;
}
@media (min-width: 769px){
.review{
  height: 28.5rem;
}}